*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color: aqua;
    margin: 10px 30px; 
    
    /* tranform-property mtlb: transformation property kis kis pr lagana chahte ho */

    /* here we are applying transform property only for background-color */
    /* transition-property: background-color;  */

    /* here we are applying transform property for background-color and border-radius, by default it is applied to all property inside (.row) here */
    /* transition-property: background-color,border-radius; */
    /* transition-duration: 2s; */
}

.row:hover{
    background-color: blue;
    border-radius: 50%;

    /* We can write those property here as well */
    /* ---------------------------------------- */
    /* tranform-property mtlb: transformation property kis kis pr lagana chahte ho */

    /* here we are applying transform property only for background-color */
    /* transition-property: background-color;  */

    /* here we are applying transform property for background-color and border-radius, by default it is applied to all property inside (.row) here */
    /* transition-property: background-color,border-radius; */
    /* transition-duration: 2s; */
}

/* ----------------------------------------------- */
#parent{
    background-color: lightblue;
}

.child{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    transition-duration: 4s;

    /* It means 4sec ke gap ke baad transition start hogi */
    /* transition-delay: 4s; */
}


.child-1{
    background-color: red;
    /* same speed se move hoga throughout-linear */
    transition-timing-function: linear;
}

.child-2{
    background-color: green;
    /* pahle slow baad me fast */
    transition-timing-function: ease-in;
}

.child-3{
    background-color: yellow;
    /* pahle fast baad me slow */
    transition-timing-function: ease-out;  
}

.child-4{
    background-color: aqua;
    /* slow in beginning than fast in middle and slow at last */
    transition-timing-function: ease-in-out;
}

#parent:hover .child{
    width: 100%;
}