/* 
span{
    background-color: yellow;
} */

/* 1. :hover */
/* span:hover{
    font-size: 40px;
    background-color: green;
    color: red;
    border: 3px solid black;
} */

/* ----------------------------- */
/* input{
    background-color: red;
} */

/* 2. focus : to switch focus from one input to another (You can switch your focus on pressing "tab") */
/* input:focus{
    background-color: greenyellow;
}  */

/* -------------------------------------------- */
/* 3. active: Jb tk press kare rahoge button ko tab tk property show hogi */

/* button{
    font-size: 10px;
    background-color: yellow;
}

button:active{
    background-color: green;
    font-size: 15px;
} */


/* -------------------------------------- */
/* 4. visited: property change if a website is already visited(i.e visit hone ke baad property change ho gayi hai) */
/* a:visited{
    color: red;
} */

/* ---------------------------------------------------------- */
/* li:first-child{
    color: red;
    background-color: green;
}

li:last-child{
    color: orange;
    background-color: aqua;
} */

/* ----------------------------------------- */
/* nth-of-type(4) -> li ka 4th sibling select hoga phir uske upar property laga do */
/* li:nth-of-type(4){ 
    background-color: blue;
} */

/* Sare odd place pe present li select ho jayenge */
/* li:nth-of-type(odd) 
{
    background-color: aqua;
} */

/* Similarlly you can do for even as well */
/* li:nth-of-type(even) 
{
    background-color: pink;
} */


/* ------------------------------------------------------ */
/* nth-of-type(3n+5) -> 5th se start hoga and than multiple of 3 me property apply hoga(i.e if n == 0 than 5 se start,if n == 1 than 3*1+5 -> 8th pe property lagegi and so on) */
li:nth-of-type(3n+5)
{
    background-color: green;
}