/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
}

body {
    height: 100vh;
    width: 100vw;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 5fr 5fr 1fr;
}

.header {
    background-color: yellow;
    text-align: center;
    grid-column: 1/4;
    grid-row: 1/2;

}

.nav1 {
    background-color: aqua;
    grid-row: 2/3;
    grid-column: 1/2;
}

.nav2 {
    background-color: lightblue;
    grid-row: 3/4;
    grid-column: 1/2;
}

.nav3{
    background-color: beige;
    grid-row: 2/4;
    grid-column: 3/4;
}

.main{
    background-color: bisque;
    grid-row: 2/4;
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    background-color: yellowgreen;
    grid-row: 4/5;
    grid-column: 1/4;
    text-align: center;
} */



/* ----------------------------Alternate way of doing so */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
}

body {
    height: 100vh;
    width: 100vw;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 5fr 5fr 1fr;

    grid-template-areas: "header header header"
                         "nav1 main nav3"
                         "nav2 main nav3"
                         "footer footer footer";
}

.header {
    background-color: yellow;
    text-align: center;
    grid-area: header;
}

.nav1 {
    background-color: aqua;
    grid-area: nav1;
}

.nav2 {
    background-color: lightblue;
    grid-area: nav2;
}

.nav3{
    background-color: beige;
    grid-area: nav3;
}

.main{
    background-color: bisque;
    grid-area: main;
}

.footer{
    background-color: yellowgreen;
    grid-area: footer;
}