
<!-- Header(header.ejs) ko add karna hai -->
 <%- include('./partials/header') %>

<button>Click Me!</button>

<h1>Hi Saurabh Kaise ho tum</h1>
<p>Main changa hoon ,tum batao</p>

<!-- Footer (footer.ejs) ko add karna hai  -->
<%- include('./partials/footer') %>