<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>GET vs POST</h1>

    <fieldset>
        <legend>GET method</legend>
        <!-- GET is default method to submit a form -->
        <!-- Niche wali line me method="GET" specify karne ki jarurat nahi thi(default get se hi hota hai)-->

        <!-- action wale path pe request jayegi -->
        <form action="/user" method="GET">
            <label for="name">Name:</label>
            <input type="text" name="keyNameBind" id="name">

            <label for="age"> Age: </label>
            <input type="text" name="keyAgeBind" id="age">

            <button type="submit">submit </button>
        </form>

    </fieldset>

    <br>
    <hr>
    <br>

    <fieldset>
        <legend>POST method</legend>
               
        <form action="/user" method="POST">
            <label for="name">Name:</label>
            <input type="text" name="keyNameBind" id="name">

            <label for="age"> Age: </label>
            <input type="text" name="keyAgeBind" id="age">

            <button type="submit">submit </button>
        </form>

    </fieldset>

</body>

</html>