/* id > class > element -> Specificity */
/* Specifity is checked first than flow of program */


/* For specifity check refer website : "https://specificity.keegan.st"*/
/* #hi{
    color: green;
} */

.hello{
    color: purple;
}

h1{
    color: red;
}