<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/style.css">
</head>
<body>
    <h2>Found comment is : </h2>
    <div>
        <h3> id is : <%= foundComment.id %>
        </h3>
        <h3> username is : <%= foundComment.username %>
        </h3>
        <h3> comment is : <%= foundComment.comment %>
        </h3>
    </div>
</body>
</html>