.sam{
    color: red;
}

.swimming{
    background-color: yellow;
}

.ac{
    border: 2px solid red;
}

.rahul{
    font-size: 50px;
}

.kanak{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}