<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <!-- You can write js and html inside this-->
    <!-- This is not html => ejs hai -->
    <h1>HTML nahi babu ejs hai ye</h1>
    <p>hello ejs kaise ho khana kha liya</p>
</body>

</html>