<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <p>Sum of numbers 1 + 2 + 3 is : <%= 1 + 2 + 3 %></p>
    <h2>You want to see random numbers from 0 to 100 -> See than <%= number %></h2>

    <% if(number % 2 == 0){ %>
        <h1>even number</h1>
    <% }else{ %>
        <h1>odd number</h1>
    <% } %>
</body>
</html>