div{
    background-color: aqua;
    border: 2px solid black;
    width: 360px;
    height: 200px;
}

h1{
    text-align: center;
}

h3{
    font-style: italic;
    text-align: center;
}

section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
