h1 {
    font-size: 15px;
    font-family: monospace;
    /* font-weight: 900; */
    /* Gap between two lines */
    /* line-height: 10;  */

    /* space between each latters */
    /* letter-spacing: 1.2rem; */

}

span {
    /* copy the property of font-family from embedded code side property */
    /* font-family: "Roboto", sans-serif; */
    /* font-weight: 500; */

    /* All three property can hold : visit MDN */
    /* font-style:oblique,normal,none; */

    /* visit : MDN */
    /* font-variation-settings:"wdth" 850; */
}

p {
    font-size: 70px;
/* Four offsets : x(right Side ->) , y(bottom side) , blur-radius(shadow ko blur karne ke liye: MDN)  && color-of-Shadow */
        /* text-shadow: 23px 1px 5px red; */


        text-shadow: 4px 1px 1px red,
        8px 2px 1px green,
        12px 2px 1px orange;
}