*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    height: 100px; 
    width: 100px;
}

/* Best Website for flex-box */
/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

/* Playing within a playground */

section{
    height: 700px;
    border: 2px solid red;
    display: flex;
    /* default */
    /* flex-direction: row;   */
    /* flow is in opposite direction to row in row-reverse */
    /* flex-direction: row-reverse;   */
    /* flex-direction: column;   */
    /* flex-direction: column-reverse;   */

    /*  */
    /* justify-content: center; */

    /* default  */
    /* justify-content: flex-start; 

    justify-content: flex-end;
    justify-content: space-around; */
    /* justify-content: space-evenly; */
    /* only sare div ke bich me jagah hogi equally not at end */
    /* justify-content: space-between; */


    /* ---------------- */
    /* flex-direction: column;
    justify-content: center;
    justify-content: flex-end; */

    /* ------------ */
    /* flex-direction: column-reverse;
    justify-content: center;
    justify-content: flex-start; */

    /* ----------- */
    /* flex-direction: row-reverse;
    justify-content: flex-end;
    justify-content: center; */

    /* ----------------------------- */

    /* align-items: center;
    align-items: flex-start; */
    /* as you have fixed size of div so stretch will not work */
    /* align-items: stretch; */
    /* align-items: flex-end; */

    /* -------------------------- */

    /* justify-content: space-evenly; */

    /* Positioning of div in row will be affected visit flex-box guide website */
    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap-reverse; */
    /* flex-wrap: wrap; */

    /* ---------------------- */
    align-content: center;
    /* gap: 20px 40px;
    row-gap: 20px;
    column-gap: 40px; */
}


#three{
    /* flex-grow: 2; */

    /* Pata nahi kyon yaha kaam nahi kar raha(refer w3school) */
    flex-shrink: 2;
    align-self: flex-end;

}

#four{
    /* flex-grow: 1; */
    flex-shrink: 5;
    align-self: flex-end;

}