* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    /* min-height isliye diya kyonki hight fix-kardene(mtlb height : 767pxâŒ) pr bahar aa ja rhe the baki sare item (while doing flex-direction:column below 767px width) */
    min-height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: black;
    align-items: center;
}

div{
    color: white;
    margin: 2px;
}

div:nth-of-type(2)
{
    width: 20vw;
}

button{
    font-size: 40px;
    color: black;
}

div:nth-of-type(2) > ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* dot hat do(lists ke) */
    list-style: none; 
}


@media screen and (max-width:767px)
{
    nav,button,div:nth-of-type(2) > ul{
        flex-direction: column;
    }
    div:nth-of-type(2)>ul{
        align-items: center;
    }

}