/* To create a variable in global scope we use :root selector */
:root{
    --laal-rang: red;
    --heera: row;
    --hara-rang : green;
    --box-color: yellow;
}

body{
 display: flex;
 flex-direction: var(--heera);
}

div{
    width: 100px;
    height: 100px;
    border: 8px solid var(--hara-rang);
    background-color: var(--box-color);
}
