*{
    margin: 0;
    padding: 0;
}
h1{
    display: flex;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    border-bottom: 2px solid black;
}
img{
    width: 300px;
}

div{
    width: 300px;
    border-right: 1px solid black;
}

section{
    display: flex;
    justify-content: space-between;
    border-right: 1px solid black;
}